apiVersion: apps/v1
kind: Deployment
metadata:
  name: podsense-deployment
  namespace: default
  labels:
    app: project-podsense
spec:
  selector:
    matchLabels:
      app: podsense-pods
  replicas: 2
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: podsense-container
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"
      labels:
        app: podsense-pods
    spec:
      containers:
        - name: podsense-container
          image: danodiarahul/pod-sense:v2
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 500m
              memory: 500Mi
            limits:
              cpu: 800m
              memory: 800Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          ports:
            - containerPort: 8000
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: podsense-service
  namespace: default
spec:
  selector:
    app: podsense-pods
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30001
